.main-login-pages {
    background-color:$bg-light; 
    padding:50px 0 20px ;

    .login-pages-title {
        font-family: 'Noto Sans TC', sans-serif;
        color:$title-color;
        font-size:$font-xxl;
        text-align:center;
        font-weight:bolder;
    }

    .login-pages-subtitle {
        color:$title-color;
        font-size:$font-xm;
        text-align:center;
        font-weight:bolder;
        padding:10px 0 35px ;
    }

    .login-form-info {
        margin: 0 auto;
        max-width: 300px;
        /* height: 273px; */
        height: auto;
        box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
        border-top: 4px solid #FF5E45;
        padding:12px;
        position: relative;

        .login-form-title {
            font-family: 'Noto Sans TC', sans-serif;
            color:$title-color;
            font-size:$font-xm;
            text-align:center;
        }

        label {
            display: block;
            color: $title-color;
            font-size:$font-m;
            padding:15px 0 3px;
            position:relative;

            // input 前面得小icon圖標 
            span:nth-last-of-type(1) {
                display: block;
                width: 20px;
                height: 20px;
                position:absolute;
                top:55%;
                left: 3%;
            }
        }


        .login-form-email,
        .login-form-password {
            width: 100%;
            padding:8px 0 8px 35px;
            border: 1px solid #CCCCCC;
            border-radius:3px;

            &:focus {
                outline:1.5px solid #FF5E45;
            }
        }

        .login-forget-password {
            display: block;
            margin:1px 0 45px;
            font-size:$font-m;
            color:#FF5E45;

            &:focus {
                color:#ff2402;
            }
        }

    }
}